body {
    background: rgb(122, 107, 107);
    font-family: arial;
    font-size: 24px
}
head, h2, h3 {
   color: rgb(245, 242, 96)(208, 236, 141);
}


h1{
    border: 5px solidcolor rgb(223, 221, 201);
    border-radius: 10px;
    background: rgba(218, 141, 141, 0.904);
    padding: 1.5%
}
/* Mobile first queries */
/* Larger than desktop */
@media (min-width: 1000px) {}

ul {
    font-size: 1.3em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(214, 213, 207);
}

a {
    font-size: 30px;
    font-weight: 900;
    color: rgb(242, 246, 248); }

form{
    padding: 5%
}

#kelly { 
    font-size: 46px;
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(214, 213, 207);
}

